<div class="container">

    <div>
        <%= link_to "Back", mf_tanks_path , class: "btn btn-primary bi bi-arrow-left-short" %>
    </div>
    <br>


</div>

<%= render "form", mf_tank: @mf_tank %>
