<div class="container">

    <div class="row">


        <div class="col text-end">
            <%= link_to "", edit_mf_tank_path, class: "btn btn-primary bi bi-pencil-square" %>
        </div>

    </div>
</div>

<br>
<%= render @mf_tank %>
<br>