<div id="<%= dom_id gravure %>">
  <p>
    <strong>High:</strong>
    <%= gravure.high %>
  </p>

  <p>
    <strong>Low:</strong>
    <%= gravure.low %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= gravure.time %>
  </p>

</div>
