<p style="color: green"><%= notice %></p>

<%= render @gravure %>

<div>
  <%= link_to "Edit this gravure", edit_gravure_path(@gravure) %> |
  <%= button_to "Destroy this gravure", @gravure, method: :delete %>
</div>
