<div class="container">

    <div class="row">


        <div class="col text-end">
            <%= link_to "",  @production_day, class: "btn btn-primary bi bi-eye-fill" %>
        </div>

    </div>

</div>

<br>

<%= render "form", production_day: @production_day %>


