<h1>Editing production day</h1>

<%= render "form", production_day: @production_day %>

<br>

<div>
  <%= link_to "Show this production day", @production_day %> |
  <%= link_to "Back to production days", production_days_path %>
</div>
