<div class="container">


    <div class="row mb-3">
        <div class="col">
            <h3>Daily Reports</h3>
        </div>
    </div>


    <div class="card rounded-4 overflow-hidden ">
        <div class="card-body  p-0">
            <ul class="nav nav-underline nav-fill" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active text-black" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Pallets</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-black" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Resin Program
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-black" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Line
                        Stops
                    </button>
                </li>
            </ul>
            <div class="tab-content  table-responsive">
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                    <%= render 'produced_pallets' %>
                </div>
                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0"><%= render 'resin_programs' %></div>
                <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0"><%= render 'line_stops' %></div>
            </div>
        </div>
    </div>

</div>
