<h1>Editing resin program</h1>

<%= render "form", resin_program: @resin_program %>

<br>

<div>
  <%= link_to "Show this resin program", @resin_program %> |
  <%= link_to "Back to resin programs", resin_programs_path %>
</div>
