<div class="container">
    <p class="text-success"><%= notice %></p>

    <h1 class="mb-4">Resin Programs</h1>

    <div id="resin_programs" >
        <% @resin_programs.each do |resin_program| %>
            <div class="list-group-item mb-3 p-3">
                <%= render resin_program %>
                <p>
                    <%= link_to "Show this resin program", resin_program, class: "btn btn-primary btn-sm" %>
                </p>
            </div>
        <% end %>
    </div>

    <%= link_to "New Resin Program", new_resin_program_path, class: "btn btn-success mt-4" %>

</div>