<p style="color: green"><%= notice %></p>

<%= render @resin_program %>

<div>
  <%= link_to "Edit this resin program", edit_resin_program_path(@resin_program) %> |
  <%= button_to "Destroy this resin program", @resin_program, method: :delete %>
</div>
