<div class="container">


    <div class="row">
        <div class="col text-start">
            <%= link_to "", pallets_path, class: "btn btn-outline-primary btn-sm bi bi-arrow-left-short" %>
        </div>

        <div class="col text-end">
            <%= link_to "", @pallet, class: "btn btn-outline-primary btn-sm bi bi-eye-fill" %>
        </div>
    </div>


</div>

<br>

<%= render "form", pallet: @pallet %>

<br>


