<div id="<%= dom_id reaction_time %>">
  <p>
    <strong>Gel time:</strong>
    <%= reaction_time.gel_time %>
  </p>

  <p>
    <strong>Cloudy time:</strong>
    <%= reaction_time.cloudy_time %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= reaction_time.time %>
  </p>

</div>
