<h1>Editing reaction time</h1>

<%= render "form", reaction_time: @reaction_time %>

<br>

<div>
  <%= link_to "Show this reaction time", @reaction_time %> |
  <%= link_to "Back to reaction times", reaction_times_path %>
</div>
