<h1>Editing line stop</h1>

<%= render "form", line_stop: @line_stop %>

<br>

<div>
  <%= link_to "Show this line stop", @line_stop %> |
  <%= link_to "Back to line stops", line_stops_path %>
</div>
