<div id="<%= dom_id oven_temp %>">
  <p>
    <strong>Oven number:</strong>
    <%= oven_temp.oven_number %>
  </p>

  <p>
    <strong>Temperature:</strong>
    <%= oven_temp.temperature %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= oven_temp.time %>
  </p>

</div>
