<h1>Editing oven temp</h1>

<%= render "form", oven_temp: @oven_temp %>

<br>

<div>
  <%= link_to "Show this oven temp", @oven_temp %> |
  <%= link_to "Back to oven temps", oven_temps_path %>
</div>
