<p style="color: green"><%= notice %></p>

<h1>Oven temps</h1>

<div id="oven_temps">
  <% @oven_temps.each do |oven_temp| %>
    <%= render oven_temp %>
    <p>
      <%= link_to "Show this oven temp", oven_temp %>
    </p>
  <% end %>
</div>

<%= link_to "New oven temp", new_oven_temp_path %>
