<div id="<%= dom_id volatile_content %>">
  <p>
    <strong>Min:</strong>
    <%= volatile_content.min %>
  </p>

  <p>
    <strong>Max:</strong>
    <%= volatile_content.max %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= volatile_content.time %>
  </p>

</div>
