<div class="container">

    <div>
        <%= link_to "Back", uf_tanks_path , class: "btn btn-primary bi bi-arrow-left-short" %>
    </div>
    <br>


</div>

<%= render "form", uf_tank: @uf_tank %>
