<h1>Editing resin tank</h1>

<%= render "form", resin_tank: @resin_tank %>

<br>

<div>
  <%= link_to "Show this resin tank", @resin_tank %> |
  <%= link_to "Back to resin tanks", resin_tanks_path %>
</div>
